<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funweb.mappers.boardMapper">

	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(num) from ${value}
	</select>

	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*) from ${value}
	</select>

	<insert id="writeBoard">
		insert into ${category}(num,name,pass,subject,content,file)
		values(#{num}, #{name}, #{pass}, #{subject}, #{content}, #{file})
	</insert>
	
	<select id="getBoardList" resultType="com.funweb.domain.BoardBean">
		select * from ${category} order by num desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getBoard" resultType="com.funweb.domain.BoardBean">
		select * from ${category} where num= #{num}
	</select>
	
	<update id="updateBoard">
		update ${category} set subject=#{subject}, content=#{content} where num=#{num}
	</update>
	
	<delete id="deleteBoard">
		delete from ${category} where num=#{num}
	</delete>

</mapper>