@charset "UTF-8";

*{
	font-size: 12px;
	color: white;
}

table{
	border-top: 1px solid #646673; 
	border-bottom: 1px solid black;
	border-collapse: collapse;
	
}

_:-ms-fullscreen, :root input{
	border:1px solid black;
}


tr{
	border-bottom: 1px solid #272A33;
	height: 28px;
}

th{
	font-weight: normal;
	text-align: center;
}

#main{
	width: 1150px;
	height: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2E313A;

}

.clear{
	clear: both;
}

.left-div{
	width: 757px;
	height: 1000px;
	float: left;
}

.right-div{
	width: 382px; 
	margin-left: 5px;
	height: 1000px;
	float: left;
}

.left-div-1{
	border-top: 1px solid #646673; 
	border: 1px solid black;
	height: 50%;
}

.left-div button{
	padding: 0px;
	background-color:  #43444F;
	border-color: black;
	display: inline-block;
	width: 55px;
	height: 35px;
	float: left;
	margin-top: 5px;
	margin-left: 0.1em; 
}

.left-div-1 button:nth-child(5){
	background-color: #078C71;
}

.section{
	background-color:  #43444F;
	font-size: 12px;
	box-sizing: border-box;
	padding: 0.4em 0.3em 0.5em 0.8em;
	width: 100%;
	height: 40px;
	margin-top: 0.5em;
}

input[type="radio"]{
	margin-top: -1px;
	vertical-align: -1px;
}

.section span{
	display: inline-block;
	font-size: 12px;
	height: 25px;
	vertical-align: -5px;

}

.btn1{
	width: 40px;
	height: 27px;
	background-color: #EFA918;
	float: right;
	vertical-align: -3px;
	color: black;
}

.btn2{
	width: 40px;
	height: 27px;
	background-color: #43444F;
	float: right;
	margin-right: 3px;
	vertical-align: -3px;
}

.btn3{
	width: 55px;
	height: 27px;
	background-color: #43444F;
	float: right;
	margin-left: 90px;
	margin-top: 1px;
}

.left-table-1{
	float: left;
	width: 372.5px;
	box-sizing: border-box;
	margin-top: 2px;
}

.left-table-1 thead{
	background-color: #43444F;
}



.left-table-1 td:nth-child(1){
	width: 40%;
	text-align: left;
}

.left-table-1 td:nth-child(n+2){
	text-align: right;
}

.left-table-1 td:nth-child(4){
	width: 20%;
}

.updown{
	float: left; 
	margin-left: 12px;
	padding-left: 7px;
	color: inherit;
}

.left-table-2{
	
	float: left;
	width: 372.5px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-left: 10px;
}

.left-table-2 thead{
	background-color: #43444F;
}

.left-table-2 td:nth-child(n+2){
	text-align: right;
}

.left-btn{
	float: right;
	margin-top: 8px;
}

.left-btn input{
	height: 28px;
	background-color: #43444F;
}

.left-btn input:nth-child(2){
	margin-left: 3px;
}

.left-div-2{
	border-top: 1px solid #646673; 
	border: 1px solid black;
	margin-top: 5px;
	height: 50%;
}

.left-div-2 button:nth-child(4){
	background-color: #078C71;
}

.left-div-2 button:nth-child(9){
	width: auto;
}


.number{
	width: 100px;
	height: 27px;
	vertical-align: 10px;
	background-color: #43444F;
} 

.search{
	width: 78px;
	height: 26.03px;
	vertical-align: 7.5px;
	background-color: #272A33;
	border: none;
	padding-left: 3px;
}

.left-div-2 .section{
	text-align: right;
	vertical-align: middle;
}

.text{
	padding-top: 4px;
	margin-left: 200px;
}


_:-ms-fullscreen, :root .text{
	padding-top: 8px;
	margin-left: 210px;
}

.left-div-2 .section span{
	float: left;
}

.left-table-3{
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2px;
}

.left-table-3 thead{
	background-color: #43444F;
}

.left-table-3 td{
	text-align: right;
	width: 11%;
}

.left-table-3 td:nth-child(1){
	text-align: center;
}

.left-table-4{
	float: left;
	width: 49%;
	box-sizing: border-box;
	margin-top: 4px;
}

.left-table-4 td{
	text-align: right;
}

.left-table-4 thead tr th:nth-child(-n+2){
	background-color: #0B2C4B;
}

.left-table-4 thead tr th:nth-child(n+3){
	background-color: #4B0B0C;
}

.left-table-4 tbody tr:nth-child(-n+5) th{
	background-color: #134369;
}

.left-table-4 tbody tr:nth-child(-n+5) th:nth-child(3){
	background-color: #65161C;
}

.left-table-4 tbody tr:nth-last-child(1){
	background-color: #343642;
}

.left-div-2 p{
	text-align : center;
	width: 49%;
	height: 21px;
	float: right;
	font-size: 12px;
	font-weight:: normal;
	margin: 4px 0 0 0;
	padding: 3px 0 0 0;
	background-color: #2E313A;
	border-top: 1px solid #646673; 
	border-bottom: 1px solid black;
}


.left-table-5{
	float: right;
	width: 49%;
	height: 164px;
	box-sizing: border-box;
	margin-top: 2px;
}

.left-table-5 thead{
	background-color: #43444F;
}

.left-table-5 td{
	width: 25%;
	text-align: right;
}

.right-div-1{
	border-top: 1px solid #646673; 
	border: 1px solid black;
	height: 50%;
}

.right-div button{
	padding: 0px;
	background-color:  #43444F;
	border-color: black;
	display: inline-block;
	width: 55px;
	height: 35px;
	float: left;
	margin-top: 5px;
	margin-left: 0.1em; 
}

.right-div-1 button:nth-child(1){
	background-color: #078C71;
}

.right-div-1 button:nth-child(2){
	width: auto;
}

.right-table-1{
	border: none;
	float: right;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
}

.right-table-1 td{
	padding: 0px 15px 0px 6px;
}

.bullet01{
	float: left;
	display: block;
	padding-bottom: 2px;
}

.right-table-2{
	float: right;
	width: 380px;
	box-sizing: border-box;
	margin-top: 2px;
	text-align: right;
	border-spacing: 0px 1.25px;
}

.right-table-2 thead{
	background-color: #43444F;
}

.right-table-2 td:nth-child(3){
	width: 80%;
}

.right-table-2 tbody tr:nth-child(1) td:nth-child(-n+3){
	background-color: #134369;
}

.right-table-2 tbody tr:nth-child(2) td:nth-child(-n+3){
	background-color: #0F3D5F;
}

.right-table-2 tbody tr:nth-child(3) td:nth-child(-n+3){
	background-color: #0F375A;
}

.right-table-2 tbody tr:nth-child(4) td:nth-child(-n+3){
	background-color: #0D3151;
}

.right-table-2 tbody tr:nth-child(5) td:nth-child(-n+3){
	background-color: #0B2C4B;
}

.right-table-2 tbody tr:nth-child(6) td:nth-child(2){
	background-color: red;
}

.right-table-2 tbody tr:nth-child(6) td:nth-child(n+3){
	background-color: #4B0B0C;
}

.right-table-2 tbody tr:nth-child(7) td:nth-child(n+1){
	background-color: #510F11;
}

.right-table-2 tbody tr:nth-child(8) td:nth-child(n+1){
	background-color: #581013;
}

.right-table-2 tbody tr:nth-child(9) td:nth-child(n+1){
	background-color: #601116;
}

.right-table-2 tbody tr:nth-child(10) td:nth-child(n+1){
	background-color: #65161C;
}

.right-table-2 tbody tr:nth-child(n+11) td:nth-child(-n+2){
	background-color: #0B2C4B;
}

.right-table-2 tbody tr:nth-last-child(-n+2) td:nth-child(n+4){
	background-color:#4B0B0C;
}


#right-table-2-1{
	display: inline-block;
	width: 143.13px;
	float: left;
	text-align: right;
	border-collapse: collapse;
	margin-left: 3px;
	background-color: #2E313A;
}

#right-table-2-1 thead{
	border-top: 3px solid #646673; 
}

#right-table-2-1 td{
	width: 150px;
	background-color: #2E313A;
}

#right-table-2-1 td:nth-child(2){
	width: 65%;
}

_:-ms-fullscreen, :root #right-table-2-1 td:nth-child(2){
	width: 65%;
}

#right-table-2-2{
	display: inline-block;
	width: 143.13px;
	float: left;
	text-align: right;
	border-collapse: collapse;
	background-color: #2E313A;
}

#right-table-2-2 thead{
	border-top: 3px solid #646673; 
}

#right-table-2-2 td{
	width: 150px;
	background-color: #2E313A;
}

#right-table-2-2 td:nth-child(2){
	width: 73%;
}

.bullet02{
	float: left;
	margin-right: 1px;
	display: inline-block;
	vertical-align: -5px;
}

.right-div-2{
	border-top: 1px solid #646673; 
	border: 1px solid black;
	margin-top: 5px;
	height: 50%;
}

.right-div-2 button:nth-child(1) {
	background-color: red;
	color: white;
}

.orderform{
	width: 365px;
	height: 350px;
	padding: 10px 5px 0px 15px;
}

.orderform div{
	margin-top: 5px;
}

.orderform label{
	margin-right: 25px;
	display: inline-block;
}

.orderform .search{
	width: 78px;
	height: 26.03px;
	vertical-align: 0px;
	background-color: #272A33;
	border: none;
	padding-left: 3px;
}

.orderform .account{
	border-color: black;
	background-color: #343642;
	height: 27px;
	margin-right: 5px;
}

.orderform .password{
	width: 150px;
	height: 21.03px;
	display: inline-block;
	margin: 0px 0px 0px 3px;
	background-color: #343642;
	border-color: black;
}

.search-img{
	vertical-align: -9px;
}

.orderform .number{
	width: 100px;
	height: 27px;
	vertical-align: 0.5px;
	margin-left: 3px;
	-webkit-appearance:none;
  -moz-appearance:none;
   -o-appearance:none;
   appearance:none; 
   border:1px solid black;
   background:url('arrow.png') no-repeat right 9px center;
   background-color: #343642;
}

.orderform .number::-ms-expand{
  display:none;
}

.minus{
	background-color: #42434D; 
	width: 23.78px; 
	height: 23.78px; 
	display: inline-block; 
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	vertical-align: 3px;
}

_:-ms-fullscreen, :root .minus{
	vertical-align: 5px;
}

.minus-3px{
	background-color: #42434D; 
	width: 23.78px; 
	height: 23.78px; 
	display: inline-block; 
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	vertical-align: 3px;
	margin-left: 3.5px;
}
_:-ms-fullscreen, :root .minus-3px{
	vertical-align: 5px;
}

.minus-img{
	margin: 0px 0px 0px 7.5px;
	vertical-align: 1px;
}

.plus{
	background-color: #42434D; 
	width: 23.78px; 
	height: 23.78px; 
	display: inline-block; 
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	vertical-align: 3px;
}
_:-ms-fullscreen, :root .plus{
	vertical-align: 5px;
}

.plus-img{
	margin: 0px 0px 0px 7px;
	vertical-align: -3px;
}

.count-btn1{
	width: 30px;
	height: 25.99px;
	background-color: #42434D;
	vertical-align: -1px;
	border-color: black;
}

.count-btn2{
	width: 42px;
	height: 25.99px;
	background-color: #42434D;
	vertical-align: -1px;
	margin-left: 3px;
	border-color: black;
}

.count{
	width: 100px;
	height: 21.80px;
	background-color: #343642;
	vertical-align: 0px;
	margin-left: 1px;
	border: 1px solid black;
	text-align: right;
}

.orderform .ordernumber1{
	width: 145px;
	height: 26.03px;
	vertical-align: 7.5px;
	background-color: #272A33;
	padding-left: 3px;
	margin-left: 48px;
	border-color: black;
}

.orderform .ordernumber2{
	width: 145px;
	height: 26.03px;
	vertical-align: 1px;
	background-color: #272A33;
	border-color: black;
	padding-left: 3px;
}

.orderform-btn1{
	width: 90px;
	height: 31px;
	background-color:  #43444F;
	float: left;
	margin-left: 180px;
	border-color: black;
}

.orderform-btn2{
	width: 90px;
	height: 31px;
	background-color: red;
	margin-left: 3px;
	float: left;
	border-color: black;
}

#highlight{
	color: black;
}

.left-table-1 tbody td:nth-child(n+2){
	color: blue;
}

.left-table-1 tbody tr:nth-child(1) td:nth-child(n+2){
	color: red;
}

.left-table-1 tbody tr:nth-child(2) td:nth-child(n+2){
	color: red;
}

.left-table-1 tbody tr:nth-child(10) td:nth-child(n+2){
	color: red;
}

.left-table-2 tbody tr:nth-child(-n+8) td:nth-child(n+2):nth-child(-n+4) {
	color: red;
}

.left-table-2 tbody tr:nth-last-child(1)  td:nth-child(n+2):nth-child(-n+4){
	color: blue;
}

.left-table-3 tbody td:nth-child(n+2){
	color: red;
}

.left-table-3 tbody tr:nth-child(1) td:nth-child(6){
	color: blue;
}

.left-table-3 tbody tr:nth-child(2) td:nth-child(n+5):nth-child(-n+6) {
	color: blue;
}

.left-table-3 tbody tr:nth-child(2) td:nth-child(n+8):nth-child(-n+9) {
	color: blue;
}

.left-table-3 tbody tr:nth-child(3) td:nth-child(n+2):nth-child(-n+5) {
	color: blue;
}

.left-table-3 tbody tr:nth-child(3) td:nth-child(n+8):nth-child(-n+9) {
	color: blue;
}

.left-table-3 tbody tr:nth-child(4) td:nth-child(n+2):nth-child(-n+5) {
	color: blue;
}

.left-table-3 tbody tr:nth-child(4) td:nth-child(8){
	color: blue;
}

.left-table-3 tbody tr:nth-child(5) td:nth-child(n+4):nth-child(-n+5) {
	color: blue;
}

.left-table-3 tbody tr:nth-child(5) td:nth-child(8){
	color: blue;
}

.left-table-4 tbody tr:nth-child(1) th:nth-child(1){
	color: blue;
}

.left-table-4 tbody tr:nth-child(3) th:nth-child(1){
	color: blue;
}

.left-table-4 tbody tr:nth-child(odd) th:nth-child(3){
	color: red;
}

.left-table-4 tbody tr:nth-last-child(1) td:nth-child(2){
	color: blue;
}

.left-table-4 tbody tr:nth-last-child(1) td:nth-child(4){
	color: red;
}

.left-table-5 tbody tr:nth-child(odd) td:nth-child(4){
	color: blue;
}

.left-table-5 tbody tr:nth-child(even) td:nth-child(4){
	color: red;
}

.right-table-2 tbody tr:nth-child(-n+5) td:nth-child(3) {
	color: red;
}

.right-table-2 tbody tr:nth-child(n+6) td:nth-child(1) {
	color: red;
}

.right-table-2 tbody tr:nth-child(11) th:nth-child(3){
	color: red;
}

#right-table-2-1 tbody tr:nth-child(1) td:nth-child(2){
	 color: red;
}

#right-table-2-1 tbody tr:nth-child(2) td:nth-child(2){
	 color: blue;
}

#right-table-2-2 tbody tr:nth-child(-n+3) td:nth-child(2){
	 color: red;
}

.right-table-2 thead th:nth-child(3) {
	background-color: white;
	color: black;
}

.left-table-1 tbody tr:nth-child(7){
	background-color: #FCF3D0;
}







