@charset "UTF-8";

.board-form {
	width: 100%;
	height: auto;
	margin-top: 30px;
}

.btngroup {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.name {
	width: 250px;
}


#modal {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 50%;
	transform:translate(-50%, -35%);
	z-index: 2;
}

#modal .modal_content {
	width: 300px;
	margin: 100px auto;
	padding: 20px 10px 20px 15px;
	background: #fff;
	border: 2px solid #666;
	text-align: center;
}