@charset "UTF-8";

#subject p {
	font-size: 22px;
}

#subject p a{
	font-size: 17px;
}

#main_prd{
	height: 100%;
}

#best_item{
	background-color: #f5f5f5;
}

#best_item #subject{
	height: 150px;
	padding-top: 50px;
	text-align: center;
}


/* 메인 가로폭 약 1500정도 */
#main {
	height: 100%;
	margin-top: 120px;
	font-family: "Nanum Gothic", sans-serif;
}

/* 메인페이지 상품 리스트 */

#subject {
	height: 300px;
	padding-top: 150px;
	text-align: center;
}

#catrgory_subject{
	height: 300px;
	padding-top: 110px;
	text-align: center;
}

#prd_grid4 {
	
	box-sizing: border-box;
	padding-left: 0px;
	list-style: none;
	width: 100%;
	height: 100%;
	display: table;
}

#prd_grid4_box {
	box-sizing: border-box;
	width: 25%;

	float: left;
}

.prd_grid4_img {
	text-align: center;
}

#prd_grid5 {
	box-sizing: border-box;
	padding-left: 0px;
	list-style: none;
	width: 100%;
}

#prd_grid5_box {
	display:inline-block;
	box-sizing: border-box;
	width: 20%;
	display: table;
	float: left;
}

.prd_grid5_img {
	text-align: center;
}

#information {
	padding-left: 0px;
	list-style: none;
	text-align: center;
}

/* 메인페이시 상품리스트 여기까지 */

.carousel-item {
	height: 75vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio-item {
	margin-bottom: 30px;
}

.clear {
	clear: both;
}

/* 카테코리 메인 페이지  */

.total_prd h5{
	margin-left: 15px;
	margin-top: 80px;
	float: left;
	font-size: 13px;
}

.total_btns{
	float: right;
	margin-right: 15px;
	margin-top: 65px;
}