@charset "UTF-8";

#main{
	font-family: "돋움";
	font-size: 12px;
}

.postNum{
	border: 1px solid;
	padding: 3px;
	font-size: 10px;
	height: 23px;
	display: inline-block;
	margin-left: 5px;
}

.join-form{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 98%;
}

.join-form table{
	width: 100%;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #d7d5d5;

}

.join-form table tr{
	vertical-align: middle;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #d7d5d5;
}

.join-form-category{
	box-sizing: border-box;
	font-size: 10px;
	height: 30px;
	width: 150px;
	padding: 10px 13px;
	text-align: left;	
}

.join-form-text{
	border-left: 1px solid #d7d5d5;
	padding: 5px 10px;
	text-align: left;
	height: 30px;
}

.join-form-text span{
	margin-left: 5px;
}

.join-form-input{
	width: 170px;
	height: 23px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
}

.join-form-input-addr{
	display: block;
	width: 170px;
	height: 23px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
}

.join-form-input-addr-1{
	display: inline;
	width: 70px;
	height: 23px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
}

.join-form-input-addr-2{
	display: block;
	width: 300px;
	height: 23px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
	margin: 5px 0px;
}

.join-form-input-addr-3{
	display: block;
	width: 300px;
	height: 23px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
}

.join-form-input-num{
	width: 60px;
	height: 23px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
}

.width60{
	width: 60px;
}

.width80{
	width: 60px;
}

.width90{
	width: 90px;
}

.btn-custom{
	margin-top: 10px;
	margin-right: 3px;
	border: 1px solid #d7d5d5;
	font-family: "돋움";
	font-size: 12px;
}

.login-subject{
	height: 200px;
	padding-top: 110px;
	text-align: center;
}

.login-form{
	width: 95%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d7d5d5;
}

.login-form h5{
	margin-top: 30px;
}

.login-form-fieldset{
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 300px;
}



.login-form-input-1{
	display: inline;
	margin-left: 40px;
	width: 250px;
	height: 35px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
	position: absolute;
	}

.login-form-input-2{
	display: inline;
	margin-left: 40px;
	width: 250px;
	height: 35px;
	font-size: 10px;
	background-color: white;
	border-color: #d7d5d5;
	margin-top: 10px;
}

.login-btn{
	position: inherit;
	vertical-align: bottom;
	width: 100px;
	height: 80px;
	background-color: #2e2e2e;
	color: white;
	font-weight: bold;
	display: inline;
}

.login-find{
	margin-top: 20px;
	list-style: none;
}

.login-find li{
	display: inline-block;
	font-size: 10px;
}

.login-sns{
	margin-left: 100px;
	list-style: none;
}

.login-sns li{
	display: inline-block;
	font-size: 10px;
}

.login-form p{
	font-size: 10px;
	font-family: "돋움";
	margin-left: 40px;
}

.login-form p a{
	margin-left: 120px;
}











